.Coasters {
  display: flex;
}

.Coasters div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Coasters div img {
  height: 700px;
  padding: 200px;
  border-radius: 40%;
  filter: drop-shadow(20px 10px 4px #eeeeee);
}

