.Coasters {
  display: flex;
}

.Coasters div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoastersContent{
  flex: 1;
}

.Coasters ul {
  list-style-type: none;
  background-color: #eeeeee;
  width: 60%;
  height: 50%;
  border-radius: 80px;
  padding: 60px;
}


.Coasters div img {
  height: 700px;
  padding: 200px;
  border-radius: 40%;
  filter: drop-shadow(20px 10px 4px #eeeeee);
}

