header{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navbar {
    position: fixed;
    top: 0;
    padding: var(--padding);
    padding-right: 50px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
}

.navbar ul{
    width: 20%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: bold;
}
a:hover {
    color: var(--highlight-color);
}
.hamburger {
    display: none;
    font-size: 3rem;

    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f8f7f2;;
    margin: 6px 0;
    border-radius: 2rem;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


.headerLogo {
  background-color: #f5f5f5;
  border-radius: 25%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5vw;
}

.headerLogo h1 {
  background: linear-gradient(to right, #eadee9, purple);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;

}


@media screen and (max-width: 768px) {
    header {
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    .navbar {
        display: none;
        top: var(--side-padding);
        padding: 0;
        background: var(--background-primary);
        height: auto;
    }
    .navbar.show {
        display: block;
        position: fixed;

        z-index: 2;

    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navbar ul li {
        width: 100%;
        height: var(--side-padding);
        border-bottom: 1px solid var(--background-secondary);
    }
    .navbar ul li a{
        display: flex;
        align-items: center;
        padding-left: var(--padding);
        width: 100%;
        height: 100%;
    }
    .navbar ul li a:hover {
        color: var(--text-primary);

        background-color: var(--highlight-color);
    }
    .hamburger {
        display: block;
        padding: var(--padding);
    }
}
